@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
}

body{
    background-color: #337DFF;
}
.player-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.player-name,.computer-name{
    font-family: 'Roboto',sans-serif;
    font-size: 80px;
    color: white;
}
.title-box{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #337DFF;
    text-align: center;
    margin: 30px
}
.announcer-box{
    display: flex;
    justify-content: center;
}
.announcement{
    font-size: 80px;
    font-family: 'Roboto',sans-serif;
    color: white;
}
.round-num-box{
    font-size: 80px;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin: 60px;
}
.button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.rock,.paper,.scissors{
    border: 1px solid;
    background-color: #3336FF;
    border-color: #3336FF;
    border-radius: 50px;
}
.rock:hover{
    background-color: rgb(0,0,150);
}
.scissors:hover{
    background-color: rgb(0,0,150);
}
.paper:hover{
    background-color: rgb(0,0,150);
}
.rock-image{
    width: 200px;
    height: 200px;
}
.rock-image,.scissors-image,.paper-image{
    width: 300px;
    height: 300px;
}

.player-image,.computer-image{
    width: 300px;
    height: 300px;
}

.computer-image-box,.player-image-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.choice-image-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player-score,.computer-score{
    font-size: 80px;
    font-family: 'Roboto',sans-serif;
    color: white;
}
.score-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}