@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
}

body{
    background-color: #337DFF;
}

.title-box{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #337DFF;
    text-align: center;
    margin: 30px
}
.round-num-box{
    font-size: 80px;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin: 60px;
}
.button-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rock-box,.scissors-box,.paper-box{
    margin-left: 40px;
    margin-right: 40px;
}
.rock,.paper,.scissors{
    background-color: #3336FF;
    border-color: #3336FF;
    border-radius: 50px;
}
.rock-image{
    width: 200px;
    height: 200px;
}